<!--
  codigo responsavel pela organizacao das janelas das funcoes no menu
-->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-title>
      <small>
        Seja bem-vindo ao sistema de gerenciamento<br>da sua conta bancaria.
      </small>
    </ion-title>

    <img alt="..." src="../../assets/img/bai-logo.png"/>
    
    <ion-card>
      <ion-card-content>
        <small>
          Lamento o seu dispositivo encontra-se fora da area de cobertura de rede, verifique a sua conexão a internet e tente novamente!
        </small>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <small>
    &copy; 2022 Banco Angolano Investimento [Naldo, Leandro & Van-Dame]
  </small>
</ion-footer>
